@charset "UTF-8";
.main {
  border-top: 18px solid #f1f5f6;
  overflow: hidden;
  padding: 0 30px;
  position: relative;
  top: 50px;
}

.main .div {
  margin-top: 10px;
  box-sizing: border-box;
  display: flex;
}

.main div input {
  border: none;
  height: 100%;
}

.div_one, .div_two {
  width: 100%;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
}

label {
  width: 80px;
  height: 30px;
  background: #eeeeee;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  color: #555;
}

.main .main_form {
  width: 100%;
  height: 165px;
  border: 1px solid #ddd;
  display: flex;
}

.main .main_form .main_form_left {
  height: 165px;
  width: 80px;
  background: #eeeeee;
  line-height: 165px;
  float: left;
}

.main .main_form .main_form_right {
  height: 165px;
  float: left;
  width: 100%;
}

.main .main_form .main_form_right div {
  height: 34px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.main .main_form .main_form_right div:last-child {
  height: 50px;
  border: none;
}

.main .main_form .main_form_right input {
  width: 100%;
  height: 100%;
  border: none;
}

.main .tijiao {
  color: #fff;
  border: none;
  margin-top: 20px;
  display: block;
  height: 33px;
  border-radius: 5px;
  background: #8e488e;
  width: 100%;
}

.main datalist {
  overflow: scroll;
}

/**提示框******/
.txt {
  position: absolute;
  top: 55px;
  left: 110px;
  font-size: 14px;
  color: #8e488e;
}

/*尾部*/
.footer {
  height: 54px;
  position: fixed;
  background: #fff;
  bottom: 0px;
  width: 100%;
  display: flex;
  padding: 5px 0;
  box-sizing: border-box;
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
}

.footer ul {
  flex: 1;
  display: flex;
}

.footer ul li {
  text-align: center;
  flex: 1;
}

.footer ul li a {
  color: #999;
  text-decoration: none;
}

.footer ul li a p {
  margin-top: 3px;
  flex: 1;
}
