*{margin: 0;padding: 0;}
body{width: 100%;font-family: "微软雅黑";position: relative;height: 650px;}
.nav_top{position:relative;height: 50px;width: 100%;color: #fff;background: #8e488e;text-align: center;line-height: 50px;}
.nav_top .iconfont{color: #fff;text-decoration: none;position: absolute;}
.nav_top a:nth-child(1){left: 10px;}
.nav_top a:nth-child(2){right: 10px;}

.main{border-top:18px solid #f1f5f6;overflow: hidden;padding: 0 30px;}
.main .div{margin-top: 10px;box-sizing:border-box;display: flex;}
.main div input{border:none;height: 100%;}
.div_one,.div_two{width: 100%;height: 30px;border:1px solid #ddd;display: flex;}
label{width:80px;height: 30px;background: #eeeeee;display: inline-block;text-align: center;line-height: 30px;color: #555;}
.main .main_form{width: 100%;height: 165px;border:1px solid #ddd;display: flex;}
.main .main_form .main_form_left{height: 165px;width:80px;background: #eeeeee;line-height: 165px;float: left;}
.main .main_form .main_form_right{height: 165px;float: left;width: 100%;}
.main .main_form .main_form_right div{height: 34px;width: 100%;border-bottom:1px solid #ddd;}
.main .main_form .main_form_right div:last-child{height: 50px;border:none;}
.main .main_form .main_form_right input{width: 100%;height: 100%;border:none;}
.main .tijiao{color:#fff;border:none;margin-top:20px;display: block;height: 33px;border-radius: 5px;background:#8e488e ;width: 100%;}
.main datalist{overflow: scroll;}
/***尾部***/
.footer{
    height: 50px;
    position: absolute;
    bottom: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    background: #fff;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
  }
.footer ul{
    flex: 1;
    display: flex;
    list-style: none;
//  margin-left: -40px;
}
.footer li{
    text-align: center;
    flex: 1;
}
.footer li p{
    margin-top: 3px;
    flex: 1;
}






